<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <% props = {
      form_authenticity_token: form_authenticity_token,
      advice: @advice,
      advice_contents: @advice.advice_contents.order(:position),
      my_cards: current_user.cards,
  }.to_json
  %>
  <div id="app" props="<%= props %>"></div>
</div>

<%= javascript_pack_tag 'advices/form' %>
<%= stylesheet_pack_tag 'advices/form' %>
