<div class="container" style="margin-top: 20px;">
  <img class="card-img-top" src="<%= @card.img %>" alt="Card image cap" style="border-radius: 3px; border: 1px solid lightgray; width: 100%;">
  <p><%= @card.content %></p>
  <% if current_user && @card.user_id == current_user.id %>
    <a href="<%= edit_card_path(@card) %>">수정</a>
    <a href="<%= card_path(@card) %>" data-method="delete" data-confirm="진짜?">삭제</a>
  <% end %>
</div>